.edit-profile-wrapper {
  padding: 24px;
  width: 400px;
  height: 440px;
  background: #151515;
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
}

/* .edit-profile__btnClose{
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 18px;
  height: 18px; 
 
} */



/* .sidebar-header {
  width: 100%;
  height: auto;
  padding: 0 0 16px;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  h1 {
    padding: 0 32px 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: $black;
    position: relative;
    margin: 0;

    >span {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: -ms-flexbox;
      display: -webkit-flex;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;

      >.header-part {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;

        &:nth-child(2) {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .close {
      position: absolute;
      width: 32px;
      height: 32px;
      outline: none;
      background: none;
      cursor: pointer;
      border: 0 none;
      bottom: 0;
      right: -8px;
      margin: 0;
      padding: 0;
      border-radius: 4px;

      svg {
        display: block;
        width: 14px;
        height: 14px;
        margin: 0 auto;
      }

      &:hover {
        opacity: 0.75;
      }

      &:focus-visible {
        box-shadow: 0px 0px 0px 2px rgba($black, 0.2) inset;

        outline: none;
      }
    }
  }

  .arrow_left~h1 {
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: $black;
    margin: 8px 0 0;
  }
} */